<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" 
      type="image/png" 
      href="./images/reachme_favicon.png">
    <link href="./css/styles.css" rel="stylesheet" />

    <title>ReachMe | Profile</title>
  </head>
  <body>
    <%- include('partials/header'); %>

    <%- include('partials/section-nav.ejs', { page: "dashboard" }) %>

    <div class="container divider my-5"></div>

    <div class="container mb-5">
      <div class="row">
        <div class="col-md-7">
          <div
            class="col-md-12 bg-light d-flex flex-column py-5 px-5 align-items-center"
          >
            <div
              class="mx-4"
              style="
                background-color: #c4c4c4;
                width: 190px;
                height: 190px;
                border-radius: 100%;
              "
            ><img src=<%= picture %> style="
              width: 100%;
            "></div>
            <p class="section-title mt-4" style="font-size: 36px"><%= name %></p>
            <p
              style="
                text-decoration: underline;
                color: #00a1d3;
                font-weight: bold;
                font-size: 18;
              "
            >
              <%= email %>
            </p>
            <div class="d-flex w-100 align-items-center">
              <p
                style="
                  font-weight: bold;
                  font-size: 80px;
                  color: #5e5e5e;
                  font-family: 'Lato', sans-serif;
                "
              >
                <%= grade %><sup>th</sup>
              </p>
              <div
                style="height: 100px; width: 1px; background-color: #5e5e5e"
                class="mx-4"
              ></div>
              <p style="font-size: 18px">
                <%= bio || "Your bio hasn't been written yet. Click the edit icon to create it!" %>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="col-md-12 d-flex flex-column">

            <div class="bg-light w-100 py-5 px-4 align-items-center mb-3">
              <% for (tag of tags) { %>
                <%- include('partials/my-tag.ejs', { tagName: tag.name }) %>
              <% } %>
            </div>

            <div class="bg-light w-100 py-5 px-5 d-flex flex-column">
              <p class="section-title mb-0 w-100 text-center mb-4">
                RECENT ACTIVITY
              </p>
              <p style="font-size: 18px">
                This is where we would put notifs, etc. 
                but until we figure out what those might be, 
                I'm just leaving it with this random block of text instead.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
  </body>
</html>